@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 200;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 500;
  font-style: italic;
  src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff)
      format("woff");
}

@font-face {
  font-family: "Amazon Ember";
  font-style: italic;
  font-weight: 700;
  src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2)
      format("woff2"),
    url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff)
      format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Amazon Ember", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 15px;
  overflow-x: hidden;
}

.nav-1 {
  background-color: #131921;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding-left: 13.85px;
}

.logo-black {
  box-sizing: border-box;
  margin: 13px 0 6px 0;
  padding: 8px 5px;
  height: 50px;
}

.nav-addr {
  margin: auto 15px;
  color: white;
  display: flex;
  align-items: center;
}
.nav-addr-text {
  margin-left: 3.2px;
  color: white;
  display: flex;
  flex-direction: column;
}
.nav-addr-text1 {
  color: white;
  display: flex;
  flex-direction: column;
}

.nav-addr img {
  margin-top: 8px;
  margin-right: 2px;
  height: 18px;
  width: 15px;
  image-rendering: crisp-edges;
  object-fit: contain;
}

.nav-addr-deliver {
  margin-bottom: -1px;
  font-size: 12px;
  color: rgb(216, 216, 216);
}

.nav-addr-val {
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 1px;
}

.nav-addr-hello {
  box-sizing: border-box;
  padding-top: 3px;
  margin-bottom: 0px;
  font-size: 12px;
  color: white;
}

.nav-addr-val1 {
  margin-top: -0.5px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 1px;
  position: relative;
}

.list-arrow {
  position: absolute;
  right: -15.5px;
  font-size: 12px;
  color: #a2a2a2;
  margin-bottom: 1px;
}

.nav-addr-text2 {
  padding-bottom: 1px;
  box-sizing: border-box;
  margin-left: 33px;
  color: white;
  display: flex;
  flex-direction: column;
}

.nav-addr-hello2 {
  box-sizing: border-box;
  padding-top: 1.25px;
  margin-bottom: 0px;
  font-size: 12px;
  color: white;
}

.nav-addr-val2 {
  margin-top: -1px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  padding-bottom: 1px;
}

.search {
  display: flex;
  align-items: center;
  margin: auto 9px;
  width: 832.75px;
}

.search select {
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 11px;
  padding-right: 21px;
  font-size: 12px;
  font-weight: 400;
  background: rgb(230, 230, 230);
  border-radius: 4px 0 0 4px;
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  color: #626262;
  border: 0;
  appearance: none;
}

.custom-select-wrapper {
  position: relative;
}

.down-arrow {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-8.5px);
  pointer-events: none;
  font-size: 12.25px;
  color: #555;
}

.search input {
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-top: 4px;
  padding-bottom: 8px;
  padding-left: 8px;
  /* padding: 6px 7px; */
  box-sizing: border-box;
  height: 40px;
  flex-grow: 5;
  border: 0;
  font-size: 15px;
}

.web-nav-search::placeholder {
  padding-bottom: 10px;
  color: #727272;
}

.search img {
  background-color: #febd69;
  /* padding: 4px; */
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 4px;
  height: 40px;
  width: 44.25px;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
}
.search img:hover {
  background-color: #f3a847;
}

.lang-img {
  /* margin: auto 18px; */
  margin-right: 19px;
  margin-top: auto;
  /* margin-bottom: auto; */
  margin-left: 17px;
  margin-bottom: 17px;
  height: 15px;
}

.cart {
  margin-left: 20px;
  height: 30px;
  box-sizing: border-box;
  margin-bottom: 2.75px;
}

/* styles for nav-2 */

.nav-2 {
  background-color: #252f3d;
  color: white;
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: lighter;
  box-sizing: border-box;
  height: 39px;
  padding: 0px 20px 2px 20px;
}

#all-nav-2 {
  box-sizing: border-box;
  display: flex;
  margin-right: 9px;
  margin-bottom: -2px;
  align-items: center;
}
#all-nav-2 > p {
  font-size: 14px;
  font-weight: 600;
}

.nav-2 > #all-nav-2 > img {
  height: 14px;
  width: 17px;
  margin-right: 5px;
}

.nav-2-heads {
  font-size: 14px;
  font-weight: 400;
  margin: auto 10px;
}

/* styles for nav-3 */

.nav-3 {
  color: #333333;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 15px;
  height: 50px;
  font-size: 12px;
  font-weight: 400;
  padding-top: 2px;
}

.nav-3-heads1 {
  margin-left: 2.05%;
}

.nav-3-heads2,
.nav-3-heads4,
.nav-3-heads6,
.nav-3-heads8 {
  margin-left: 3.75%;
}
.nav-3-heads3,
.nav-3-heads5,
.nav-3-heads7 {
  margin-left: 3.75%;
}
.nav-3-heads9 {
  margin-left: 2.75%;
}

.electronics {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #505050;
  padding: 0 20px 0 0;
  height: 100%;
  margin-left: 24px;
  display: flex;
  align-items: center;

  padding-bottom: 3.8px;
}

/* nav for sortby */

#toggle {
  display: flex;
  gap: 5px;
}

.sortby {
  height: 41.5px;
  border: 1px solid rgb(199, 197, 197);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 7.75px;
  padding-right: 11px;
  box-shadow: 0px 0.5px 7px 0px rgba(0, 0, 0, 0.152);
}

.sortby p {
  font-size: 14px;
}

.sortby-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Amazon Ember";
  border-radius: 8px;
  width: 125.5px;
  font-size: 11px;
  padding: 4px 0px 3px 8px;
  background-color: #f0f2f2;
  border: 1px solid rgb(205, 205, 205);
}

.sortby-arrow {
  height: 6px;
  margin-right: 8.25px;
  margin-bottom: 1.5px;
}

/* SECTION WISE STYLES */

.main {
  width: 100%;
  display: flex;
}

/* LEFT SIDE */

.left-sec {
  width: 17%;
  min-width: 247px;
  margin-left: 2px;
  margin-top: 5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 13px;
  box-sizing: border-box;
}

.mini-secl {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.mini-secl input {
  transform: scale(0.98);
  /* margin: 5.5px 0; */
  font-size: 14px;
  line-height: 15px;
  padding-left: 2px;
  border-width: 0.5px;

  width: 16px;
  height: 16px;
  outline: 0px solid #000;
  outline-offset: -2px;

  accent-color: #2162a1;
}

.mini-secl label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  line-height: 15px;
  padding-left: 1px;
  margin-bottom: 8px;
}

#seeBtn {
  display: flex;
  align-items: center;
  margin-top: 3.5px;
  border: none;
  color: rgb(33, 98, 161);
  font-size: 14px;
  cursor: pointer;
}

#seeBtn > img {
  padding-top: 1px;
  margin-left: 0.35px;
  height: 7.2px;
  transform: scaleX(91%);
  margin-right: 3px;
}

.brand-value {
  position: relative;
  left: -1.5px;
  top: 1.5px;
}

#brand-active {
  font-weight: 600;
}

.category {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2px;
}

.loc-test {
  background-image: url(images/loc-test.png);
  background-position: -70.5px -378px;
  background-size: 350px;
  transform: scaleX(95%);
  width: 15px;
  height: 18px;
  margin-top: 8px;
}

.category > .category-name {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 15px;
  padding-left: 1px;
}

#category-sub {
  margin-left: 23.5px;
}
#category-active {
  font-weight: 600;
  margin-left: 11.5px;
}

.greater-than {
  height: 10px;
  transform: scaleY(98%);
  margin-bottom: 1px;
}

#clear {
  padding-left: 1px;
  margin-bottom: 6.75px;
  font-size: 14px;
  line-height: 15px;
}

#clear:hover {
  color: #f4bf76;
  cursor: pointer;
}
#brands-head {
  font-weight: 600;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 15px;
  margin-left: 0.5px;
}

.filter-text {
  font-size: 14px;
  line-height: 15px;
}

.filter-text.active {
  color: white;
  color: #f4bf76;
  border-radius: 4px;
}

.filter-text:hover {
  color: #f4bf76;
  cursor: pointer;
}

/* RIGHT SECTION */

.right-sec {
  margin-top: 14.5px;
  padding-right: 9px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#grid-sec {
  margin-top: 7px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

h2.products-head {
  font-size: 20px;
  font-weight: 700;
}
p.products-head {
  margin-top: 8px;
  font-size: 14px;
  color: #626262;
}

.prod-div {
  background-color: #f7f7f7;
  border-radius: 3px;
  border: solid 1px rgb(238, 238, 238);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.prod-img {
  height: 226px;
  display: block;
  padding-top: 23.5px;
  margin: 0px auto;
}

.pro-details {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  padding: 8px 7.5px;
  height: 100%;
  border-bottom: solid 1px rgb(238, 238, 238);
  overflow: auto;
}

.pro-description {
  font-size: 16px;
  color: #222324;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  max-height: 96px;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.pro-description:hover {
  color: #c68025;
}

.ratings {
  box-sizing: border-box;
  margin-bottom: 3px;
  margin-top: 4.5px;
  display: flex;
  font-size: 12px;
  align-items: center;
}
.rating-img {
  margin: auto 2px;
  height: 11.5px;
  width: 73.2px;
  padding-bottom: 3px;
}
.no-ratings {
  margin-top: 1px;
  margin-left: 1px;
  color: #1b7e90;
}

.bought-past-month {
  box-sizing: border-box;
  color: #696969;
  font-size: 14px;
  margin-bottom: 18px;
}

.cash-back-text {
  box-sizing: border-box;
  color: #696969;
  font-size: 14px;
  margin-bottom: 14.5px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 16px;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.wrap {
  margin-top: -4px;
}
.no-wrap {
  margin-top: -1.5px;
}

.price-desc {
  display: block;
  margin-bottom: 3.5px;
  line-height: 22px;
}

.discount-price {
  font-size: 28px;
}

sup {
  margin-bottom: 8px;
  font-size: 13px;
  font-size: 13px;
  line-height: 0;
}

.og-price-percentage {
  box-sizing: border-box;
  color: #090505;
  font-size: 14px;
  margin-left: 5px;
  display: inline;
}
.og-price {
  color: #696969;
  font-size: 14px;
}

.price-off {
  display: inline-block;
  margin-top: -1px;
}

.strike {
  text-decoration: line-through;
  font-size: 13px;
}

.delivery-no-wrap {
  font-size: 14px;
  margin-bottom: 2.75px;
}

.delivery-wrap {
  font-size: 14px;
  margin-bottom: 2px;
}

.prime-delivery {
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 9px;
  line-height: 20px;
}

.prime {
  color: #005af6;
}

.add-cart {
  box-sizing: border-box;
  height: 30px;
  font-family: "Amazon Ember";
  display: block;
  font-size: 13px;
  margin-top: 6px;
  background-color: rgb(248, 214, 64);
  padding: 7px 12.5px 25px 12.5px;
  border-radius: 16px;
  border: none;
  text-align: center;
}

.add-cart:hover {
  background-color: rgb(248, 202, 64);
  cursor: pointer;
}

#toggleBtn {
  display: none;
}

.header-2,
.mob-filter,
.rating-img-mob {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
  .left-sec {
    width: none;
    min-width: 0;
    display: none;
  }

  h2.products-head {
    font-size: 17px;
  }
  p.products-head {
    margin-left: -1px;
    font-size: 12px;
  }

  .right-sec {
    margin-top: 0px;
    padding-right: 7.5px;
    padding-left: 9px;
    padding-top: 0px;
    padding-bottom: 15px;
  }

  #grid-sec {
    margin-top: 4.5px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .pro-details {
    border: none;
  }

  .pro-description {
    line-height: 20px;
    font-size: 14px;
    max-height: 72px;
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }

  .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  #toggleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgb(173, 168, 168);
    padding: 8px 23px;
    border-radius: 15px;
  }
  #toggleBtn:hover {
    background-color: rgb(241, 241, 241);
    cursor: pointer;
  }

  .toggleImg {
    height: 11px;
  }

  .toggleDisplay {
    background-color: white;
    position: absolute;
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
  }
  .prod-div {
    display: flex;
    flex-direction: row;
    background-color: #f7f7f7;
    border-radius: 3px;
    border: solid 1px rgb(238, 238, 238);
    box-sizing: border-box;
  }

  .prod-img {
    height: 170px;
    width: 73.75px;
    padding-right: 1.5px;
    display: block;
    margin: auto 34.5px;
    padding-top: 28px;
  }

  .bought-past-month {
    box-sizing: border-box;
    color: #696969;
    font-size: 12px;
    margin-top: -2px;
    margin-bottom: 32px;
  }

  .discount-price {
    font-size: 22px;
    margin-right: 4px;
  }

  sup {
    position: relative;
    top: 2.5px;
  }

  .og-price-percentage {
    color: #696969;
    font-size: 12px;
    font-weight: 300;
    margin-left: 1px;
  }
  .og-price {
    font-weight: 300;
    margin-top: 7px;
    color: #696969;
    display: flex;
    font-size: 12px;
    margin-left: 1px;
    padding-bottom: 0px;
    position: relative;
    top: -0.5px;
  }

  .strike {
    margin-left: 3px;
    margin-right: 4px;
    font-size: 12px;
    font-weight: 300;
  }

  .free-delivery {
    font-size: 12px;
    margin-bottom: 3px;
    line-height: 19px;
  }

  .delivery-no-wrap,
  .delivery-wrap {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .prime-delivery {
    font-size: 12px;
    line-height: 17px;
  }

  .ratings {
    box-sizing: border-box;
    margin-bottom: 1.5px;
    margin-top: 2.5px;
    display: flex;
    gap: 0;
    font-size: 12px;
    align-items: center;
  }

  .rating-img {
    display: none;
  }

  .rating-img-mob {
    display: table-row;
    margin: 0 -5px;
    height: 11px;
    width: 73.2px;
    padding-bottom: 2px;
  }

  .no-ratings {
    margin-top: 1px;
    margin-left: 1px;
    color: #696969;
  }

  .price-desc {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 12px;
  }

  .add-cart {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(248, 214, 64);
    padding: 8px 12px 7px 12px;
    border-radius: 15px;
    border: none;
    font-size: 13px;
    height: 32px;
    box-sizing: border-box;
  }

  .nav-2,
  .nav-3,
  h2.products-head,
  .sortby {
    display: none;
  }

  /* NEW HEADER CODE */

  .header-1 {
    display: none;
  }

  .header-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #232f3e;
  }

  .nav-mob-1 {
    box-sizing: border-box;
    display: flex;
    height: 47px;
    width: 100%;
    border-bottom: 1px solid #232f3e;
    background-color: #232f3e;
    justify-content: space-between;
    align-items: center;
  }

  .mob-nav-left {
    box-sizing: border-box;
    display: flex;
    min-width: 60px;
  }
  .mob-nav-right {
    box-sizing: border-box;
    display: flex;
    min-width: 60px;
    justify-content: end;
  }
  /* .burger-logo {
    position: relative;
    height: 18px;
    padding: 14px 14px;
    transform: scaleY(104%);
    
  } */
  .burger-logo {
    background-image: url(images/amazon-mob-logo.png);
    background-size: 275px;
    width: 20px;
    height: 20px;
    /* padding: 1px; */
    background-position: -20px -378px;
    position: relative;
    top: 5px;
    left: 14px;
    margin-right: 10px;
  }
  /* .nav-mob-logo {
    height: 26.7px;
    padding-left: 1px;
    margin-top: 13.25px;
    transform: scaleX(99%);
  } */

  .nav-mob-logo {
    position: relative;
    background-image: url(images/amazon-mob-logo.png);
    background-size: 275px;
    background-position: -185px -236px;
    width: 80px;
    height: 28px;
    left: 18px;
    top: 4px;
  }

  .in-nav-mob-logo {
    position: absolute;
    top: 2px;
    right: -16px;
    font-size: 13.5px;
    color: white;
  }

  .mob-nav-name {
    display: flex;
    padding-top: 2px;
    margin: auto 2.65px;
    position: relative;
    font-weight: 700;
    color: #fff;
    left: 1px;
    font-size: 13px;
  }
  .mob-nav-profile {
    background-image: url(images/amazon-mob-logo.png);
    position: relative;
    background-size: 275px;
    background-position: -140px -301px;
    width: 35px;
    height: 27px;
    left: 2.5px;
    top: -1px;
    margin-right: 27px;
  }
  /* .mob-nav-profile {
    height: 25px;
    position: relative;
    right: 0.4px;
    top: 2px;
    margin-right: 37px;
  } */
  .mob-nav-cart {
    background-position: -9px -270px;
    margin-top: -0.5px;
    width: 37px;
    height: 27px;
    right: 17px;
    position: relative;
    top: 1px;
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB541718031_.png);
    transform: scale(-101%, 100%);
    background-size: 275px;
  }

  .cart-number {
    color: rgb(240, 136, 4);
    font-size: 16px;
    font-weight: 700;
 
    right: 15.5px;
    position: absolute;
    top: -2px;
  }
  /* .mob-nav-cart {
    position: relative;
    top: -1px;
    right: 19px;
} */

  .nav-mob-2 {
    margin-top: 1px;
    display: flex;
    height: 50px;
    width: 100%;
    background: #232f3e;
    box-sizing: border-box;
    padding: 2px 10px 3px 10px;
    position: relative;

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .nav-search-input {
    font-family: "Amazon Ember";
    width: 100%;
    display: block;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    padding: 0 95px 0 10px;
    font-size: 15px;
    border: 0;
    border-radius: 7px 8px 8px 7px;
  }

  .search-icon-div {
    position: absolute;
    box-sizing: border-box;
    height: 44px;
    width: 50px;
    background-color: #fbb85f;
    top: 2px;
    right: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8.5px;

    /* background-image: url(images/img-test2.png);
    background-position-x: -73px;
    background-position-y: -239px;
    background-repeat: no-repeat;
    background-size: 275px;
    cursor: pointer;
    height: 25px;
    display: block; */
  }

  .nav-search-icon {
    position: relative;
    right: 0px;

    box-sizing: border-box;
    height: 24px;
    width: 26px;
    cursor: pointer;
  }

  .nav-mob-3 {
    background-color: #37475a;
    padding: 12px 10px 12px 10px;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .mob-3-loc {
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/new-nav-sprite-global-2x_blueheaven-privacy._CB541718031_.png);
    background-size: 275px;
    background-position: -75px -340px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  /* .mob-3-loc {
    margin-top: 1px;
    margin-left: 3.25px;
    margin-right: 5px;
    height: 19px;
  } */
  .nav-mob-3 > p {
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    color: #fff;
  }

  .mob-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47.5px;
    border: 1px solid rgb(240, 241, 241);
    box-shadow: -8px -8px 10px rgba(0, 0, 0, 0.5);
  }

  .filter-left {
    display: flex;
  }

  .prime-active {
    display: flex;
    align-items: center;
    padding-left: 11px;
    margin-right: 4px;
  }

  .prime-logo {
    margin-right: 4px;
    height: 12px;
  }
  .prime-toggle {
    width: 36px;
  }

  .filter-brand {
    box-sizing: border-box;
    height: 32px;
    color: rgb(33, 98, 161);
    background-color: #e7f4f5;
    border: 1px solid rgb(199, 228, 232);
    padding: 9px;
    display: flex;
    border-radius: 8px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    margin-top: -1px;
  }

  .cash-back-text {
    display: none;
  }

  .filter-right {

    position: relative;
    left:1px;
    color: #007185;
    font-size: 14px;
    font-weight: 400;
    border: none;
    margin: 0px 14px 2px 14px;
    padding: 11px 16px;
  }

  .filter-right > img {
    position: relative;
    top: -.75px;
    right: -1px;
    height: 5.5px;
  }

  .filter-number {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media screen and (min-width: 940px) and (max-width: 1169px) {
  #grid-sec {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 1170px) and (max-width: 1289px) {
  #grid-sec {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media screen and (min-width: 1290px) and (max-width: 1499px) {
  #grid-sec {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .search {
    display: flex;
    align-items: center;
    margin: auto 9px;
    width: 53%;
  }

  .nav-addr-text2 {
    display: none;
  }
  .cart {
    margin: 0 auto;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 2.75px;
  }
  /* .nav-addr-text1{
  display: none;
}
.lang-img{
  margin: auto;
} */
}

@media screen and (min-width: 1500px) {
  #grid-sec {
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
  }
}

@media screen and (min-width: 1570px) {
  #grid-sec {
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
  }

  .left-sec {
    margin-left: 50px;
    margin-right: 48px;
    margin-top: 5px;
  }

  .logo-black {
    box-sizing: border-box;
    margin: 13px 4px 6px;
    padding: 8px 5px;
    height: 50px;
  }

  .search {
    display: flex;
    align-items: center;
    margin: auto 17px;
    width: 832.75px;
  }

  .search select {
    padding-right: 22px;
  }
  .down-arrow {
    right: 6px;
    top: 48%;
  }

  .search {
    display: flex;
    align-items: center;
    margin: auto 17px;
    width: 61.8%;
  }

  .search img {
    width: 45px;
  }

  .lang-img {
    margin-right: 23px;
  }

  .nav-addr-deliver {
    margin-bottom: -1px;
    position: relative;
    top: -1px;
  }

  .nav-addr-text1 {
    color: white;
    display: flex;
    top: -1px;
    position: relative;
    flex-direction: column;
  }

  .nav-addr-text2 {
    margin-left: 37px;
  }
  .nav-addr-hello2 {
    position: relative;
    top: -1px;
  }
  .cart {
    margin-left: 24px;
  }

  .nav-2 {
    padding: 0px 20px 2px 24px;
  }

  #all-nav-2 > p {
    position: relative;
    top: 1px;
  }
  #all-nav-2 {
    margin-right: 12px;
  }
  .nav-2-heads {
    font-size: 14px;
    padding-top: 1px;
    font-weight: 400;
    margin: auto 10px;
  }

  .nav-3-heads1 {
    margin-left: 2.89%;
  }

  .nav-3-heads2,
  .nav-3-heads4,
  .nav-3-heads6,
  .nav-3-heads8 {
    margin-left: 5.55%;
  }

  .nav-3-heads3,
  .nav-3-heads5,
  .nav-3-heads7 {
    margin-left: 5.5%;
  }
  .nav-3 {
    padding-top: 1px;
  }

  .electronics {
    padding-bottom: 2.8px;
  }

  .sortby {
    padding: 0 2.9%;
  }

  .prod-img {
    height: 272px;
    display: block;
    padding-top: 23.5px;
    margin: 0px auto;
  }
  .right-sec {
    margin-right: 50px;
  }
}
